// GOOGLE BATCH SETTINGS
google {
  project   = 'humann-nextflow-evvy'
  location  = 'us-central1'
  batch.spot = false
}

// CLOUD EXECUTION
wave.enabled   = true
fusion.enabled = true
tower.enabled  = true

// THROTTLE CONCURRENT TASKS
executor {
  // limit how many jobs are queued in Batch at once
  queueSize    = 45
  // reduce API polling frequency
  pollInterval = '60s'
}

// GCS STORAGE
workDir = 'gs://nextflow-bucket-batch/work'

params {
  samplesheet    = 'samplesheet.csv'  // customize as needed
  outdir         = 'gs://nextflow-bucket-batch/results'
  fastp_threads  = 8
  humann_threads = 16
}

// DEFAULT PROCESS SETTINGS
process {
  // use Google Batch executor
  executor = 'google-batch'

  // basic resources for light tasks
  cpus    = 2
  memory  = '4 GB'

  // throttle how many tasks (VMs) run in parallel
  maxForks = 45

  withName: qc_reads {
    container = 'quay.io/biocontainers/fastp:0.24.0--heae3180_1'
    cpus      = 8
    memory    = '16 GB'
  }

  withName: run_humann {
    container = 'robmbio/humann3-gcsfuse:latest'
    cpus      = 16
    memory    = '64 GB'
    disk      = '100 GB'
  }
}
